* {
  margin: 0;
	padding: 0;
	margin: 0 auto;
}

/*
################################################################
#+++++++++++++++++++++++DESKTOP NAVIGATION MENU++++++++++++++++#
################################################################
*/
header {
	overflow: hidden;
	top: 0;
	/* position: fixed; */
	width: 100%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	margin: 20px;
	padding: 15px;
}

nav > ul > li {
	list-style-type: none;
}

nav > ul > li a {
	text-decoration: none;
	font-size: 1.2rem;
	color: black;
	font-weight: 500;
}

.logo {
	flex: 1;
}

.nav-elements {
	display:  flex;
	gap: 20px;
}

#border-both{
	border-right: 1px solid black;
	border-left: 1px solid #000;
	padding: 0 10px;
}

/*
################################################################
#++++++++++++++++++++++++++++++DATE MENU+++++++++++++++++++++++#
################################################################
*/

#date {
	float: right;
	margin: 0 25px;
}

/*
################################################################
#++++++++++++++++DESKTOP LIST BOOKS SECTION+++++++++++++++#
################################################################
*/

#book-heading {
	text-align: center;
	font-size: 2rem;
	font-weight: 500;

}

.book-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	padding: 15px;
	margin: 0 auto;
}

#book-info {
	border: 1px solid black;
	padding: 10px;
	width: 500px;
}

#book-info:nth-child(even){
	background-color: #fff;
}

#book-info:nth-child(odd){
	background-color: grey;
}

#p-tag {
	flex: 1;
}

.close-btn {
	border: 1px solid black;
	border-radius: 4px;
	padding: 12px 20px;
}

#book-add,
#contact,
#book-list {
	display: none;
}

/*
################################################################
#++++++++++++++++DESKTOP ADD BOOKS SECTION++++++++++++++++#
################################################################
*/

.add-book {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	box-sizing: border-box;
	flex-direction: column;
	padding: 2rem;
}

#form {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

input[type='text'], 
input[type='submit'] {
	padding: 12px 20px;
	margin: 10px;
	width: 100%;
	border-radius: 4px;
}

#submit-btn {
	max-width: 100px;
}

/*
################################################################
#++++++++++++++++++++++++CONTACT SECTION+++++++++++++++++++++++#
################################################################
*/
.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.contact-title {
	padding: 20px;
	font-size: 1.7rem;
}

.contact-container {
	padding: 20px;
}

.contact-container > p {
	padding: 10px;
	line-height: 10px;
	font-size: 1.2rem;
}

.contact-details {
	margin: 5px 50px;
}

.contact-details > li {
	font-size: 1.1rem;
}

/*
################################################################
#++++++++++++++++++++++++++++++FOOTER++++++++++++++++++++++++++#
################################################################
*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 9%;
  padding: 1rem;
  font-family: lg;
}




