* {
  margin: 0;
	padding: 0;
	margin: 0 auto;
}

/*
################################################################
#+++++++++++++++++++++++DESKTOP NAVIGATION MENU++++++++++++++++#
################################################################
*/
header {
	overflow: hidden;
	top: 0;
	position: fixed;
	width: 100%;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid black;
	margin: 20px;
	padding: 15px;
}

nav > ul > li {
	list-style-type: none;
}

nav > ul > li a {
	text-decoration: none;
	font-size: 1.2rem;
	color: black;
	font-weight: 500;
}

.logo {
	flex: 1;
}

.nav-elements {
	display:  flex;
	gap: 20px;
}

#border-both{
	border-right: 1px solid black;
	border-left: 1px solid #000;
	padding: 0 10px;
}

/*
################################################################
#++++++++++++++++++++++++++++++DATE MENU+++++++++++++++++++++++#
################################################################
*/

#date {
	float: right;
	margin: 0 25px;
}

/*
################################################################
#++++++++++++++++DESKTOP LIST BOOKS SECTION+++++++++++++++#
################################################################
*/
.list-books {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid greenyellow;
	height: 100vh;
	margin: 20px;
}


/*
################################################################
#++++++++++++++++DESKTOP ADD BOOKS SECTION++++++++++++++++#
################################################################
*/
.add-book {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	height: 100vh;
	margin: 20px;
}


/*
################################################################
#++++++++++++++++++++++++CONTACT SECTION+++++++++++++++++++++++#
################################################################
*/
.contact-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
	height: 100vh;
	margin: 20px;
}

.contact-title {
	padding: 20px;
	font-size: 1.7rem;
}

.contact-container {
	padding: 20px;
}

.contact-container > p {
	padding: 10px;
	line-height: 10px;
	font-size: 1.2rem;
}

.contact-details {
	margin: 5px 50px;
}

.contact-details > li {
	font-size: 1.1rem;
}




